@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #ef7e09;
    --main-color-hover: #be6709;
    --main-light-color: #fff;
    --card-text-color: #999;
    --secondary-light-color: #ccc;

}

/* General styles */
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
a {
    color: var(--main-color);
}
p {
    font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
a:hover {
    color: var(--main-color-hover);
    text-decoration: none;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
.btn-bd-primary, .btn-primary{
    background-color: var(--main-color);
    font-weight: 200;
    color: var(--bs-white);
    border-color:  var(--main-color);
    text-shadow: none!important;
}
.btn-secondary{
    font-weight: 200;
    text-shadow: none!important;
}
.btn-bd-primary:hover, .btn-bd-primary:focus, .btn-bd-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--main-color-hover);
    border-color:  var(--main-color-hover);
}
.bd-mode-toggle {
    z-index: 1500;
}
.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
/* //Boostrap theme mode */

/* DDVR Theme */
.logo{
    background: url(../img/logo-dark.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 60px;
}
.hero{
    background: url(../img/hero.webp);
    background-size: cover;
    background-position: center;
}
.hero .overlay{
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 350px;
    background: transparent;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.hero h1{
    text-shadow: 0px 0px 10px #000000;
    font-weight: 400;
    color: var(--main-light-color)
}
.hero p{
    text-shadow: 0px 0px 3px #000000;
    color: var(--secondary-light-color)
}

.list-unstyled a{
    text-decoration: none;
    font-weight: 200;
}

.list-unstyled i{
    margin-left: .5rem;
}
.modal-body li{
    font-weight: 200;
}

.modal-header h1{
    font-weight: 300;

}
.modal-header span{
    color: var(--card-text-color);
}

.card-img {
    background: var(--main-light-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.25rem .75rem;
    text-align: center;
    height: 200px;
    overflow: hidden;
}

.card-img img{
    width: auto;
    max-height: 160px;
}

.card-text{
    color: var(--card-text-color);
}

.card-presentation {
    color: var(--secondary-light-color);
    font-size: .875rem;
    margin-bottom: 2rem;
}
.card-presentation i, .card-presentation strong{
    font-weight: 300;
    color: var(--main-light-color);
}
.card-body .share-btn{
    color: var(--main-light-color) !important;
    font-size: .875rem;
    font-weight: 200;
    text-decoration: none;
}
.card-body .share-btn:hover{
    color:  var(--main-color);
}

/* Asegurar que las cards se alineen bien en altura */
#catalog .col {
    display: flex;
}

#catalog .card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#catalog .card-body {
    display: flex;
    flex-direction: column;
}

#catalog .card-text {
    flex-grow: 1;
}
.filters-button-group .btn-outline-light{
    border-color: rgba(255, 255, 255, .15);
    background-color: rgb(33, 37, 41);
    font-weight: 200;
}
.filters-button-group .btn.active {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: var(--main-light-color);
}

.to-top {
    font-size: 2rem;
}
/* LIGHT MODE */
[data-bs-theme="light"] {
    .filters-button-group .btn-outline-light{
        border-color: rgba(0, 0, 0, .075);
        background-color: #eee;
        color: rgb(33, 37, 41);
        font-weight: 200;
    }
    .filters-button-group .btn.active{
        background-color: var(--main-color);
        border-color: var(--main-color);
        color: var(--main-light-color);
    }
    .card{
        border-color: rgba(0, 0, 0, .075);
    }
    .card-body{
        background-color: #eee;
    }
    .card-presentation {
        color: var(--card-text-color);
        font-size: .875rem;
        margin-bottom: 2rem;
    }
    .card-presentation i, .card-presentation strong{
        color: #000;
    }
}