@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
/* @font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
} */
:root{
    --main-color: #ef7e09;
    --main-color-hover: #ff8302;
    --main-light-color: #fff;
    --card-text-color: #999;
    --secondary-light-color: #ccc;

}

/* General styles */
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a {
    color: var(--main-color);
}
p {
    font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
a:hover {
    color: var(--main-color-hover);
    text-decoration: none;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
.btn-bd-primary, .btn-primary{
    background-color: var(--main-color);
    font-weight: 200;
    color: var(--bs-white);
    border-color:  var(--main-color);
    text-shadow: none!important;
}
.btn-primary i{
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1;
}
.btn-secondary{
    font-weight: 200;
    text-shadow: none!important;
}
.btn-bd-primary:hover, .btn-bd-primary:focus, .btn-bd-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--main-color);
    border-color:  var(--main-color);
    color: var(--bs-white)
}
.bd-mode-toggle {
    z-index: 1500;
}
.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--main-color);
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
footer p{
    font-size: .875rem;
}


/* DDVR Theme */
.logo{
    background: url(../img/logo-dark.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 60px;
}
.hero{
    background: url(../img/hero.webp);
    background-size: cover;
    background-position: center;
}
.hero .overlay{
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 350px;
    background: transparent;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.hero h1{
    text-shadow: 0px 0px 10px #000000;
    font-weight: 400;
    color: var(--main-light-color)
}
.hero p{
    text-shadow: 0px 0px 3px #000000;
    color: var(--secondary-light-color);
}
.btn-ddvr{
    border:none;
    overflow: hidden!important;
    position: relative;
    transition: all 1s ease;
}
.btn-ddvr::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255,255,255,0.5)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn-ddvr:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.btn-ddvr:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(175%);
}
.btn-contact{
    color: var(--main-color);
}
.abs-btn-contact {
    bottom: 0;
    right: 0;
}
.btn-menu{
    color: var(--card-text-color);
    font-size: 2rem;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle, .abs-btn-contact{
    width: 44px;
    height: 36px;
}
.list-unstyled li{
    margin-bottom: .5rem;
}
.list-unstyled a{
    text-decoration: none;
    font-weight: 200;
    font-size: .875rem;
}
.list-unstyled i{
    margin-left: .5rem;
}
.modal-body li{
    font-weight: 200;
}
.modal-header h1{
    font-weight: 300;
}
.modal-header span{
    color: var(--card-text-color);
}
.card-img {
    background: var(--main-light-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.25rem .75rem;
    text-align: center;
    height: 200px;
    overflow: hidden;
}
.card-img img{
    width: auto;
    max-height: 160px;
}
.card-text{
    color: var(--card-text-color);
    font-size: .875rem;
}
.card-presentation {
    color: var(--secondary-light-color);
    font-size: .875rem;
    margin-bottom: 2rem;
}
.card-presentation strong{
    font-weight: 300;
    color: var(--main-light-color);
}
.card-body .share-btn{
    color: var(--main-light-color) !important;
    font-size: 1.25rem;
    font-weight: 200;
    text-decoration: none;
}
.card-body .share-btn:hover{
    color:  var(--main-color);
}
#catalog .col {
    display: flex;
}
#catalog .card {
    border:none;
    width: 100%;
}
#catalog .card-body {
    display: flex;
    flex-direction: column;
}
.filters-button-group .btn-dark{
    border: none;
    background-color: rgb(33, 37, 41);
    font-weight: 200;
}
.filters-button-group .btn-dark:hover{
    border: none;
    background-color: rgb(33, 37, 41);
    font-weight: 200;
}
.filters-button-group .btn.active {
    border: none;
    background-color: var(--main-color);
    color: var(--main-light-color);
}
.offcanvas-body label {
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 4px;
}
.to-top {
    font-size: 2rem;
}
@media(max-width: 576px) {
    .filters-button-group .btn-dark{
        width: 50%!important;
        margin-bottom: .5rem;
    }
}
/* LIGHT MODE */
[data-bs-theme="light"] {
    #catalog .card {
        border:none;
        width: 100%;
    }
    .card-body{
        background-color: #eee;
    }
    .card-presentation {
        color: var(--card-text-color);
        font-size: .875rem;
        margin-bottom: 2rem;
    }
    .card-presentation i, .card-presentation strong{
        color: #000;
    }
}