<!--Offcanvas-->
<div class="offcanvas offcanvas-start shadow" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="contactForm" aria-labelledby="contactFormLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="contactFormLabel">Informacion de contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="contact_form" action="send-mail.php">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="name">Nombre</label>
                    <div class="position-relative">
                        <input type="text" class="form-control pe-5" id="name" required>
                        <span id="icon-name" class="position-absolute top-50 end-0 translate-middle-y me-2"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="last-name">Apellido</label>
                    <div class="position-relative">
                        <input type="text" class="form-control pe-5" id="last-name" required>
                        <span id="icon-last-name" class="position-absolute top-50 end-0 translate-middle-y me-2"></span>
                    </div>
                </div>
                
                <div class="col-md-6 mb-2">
                    <label for="mail">Correo</label>
                    <div class="position-relative">
                        <input type="text" class="form-control" id="mail" placeholder="mail@mail.com" required>
                        <span id="icon-mail" class="position-absolute top-50 end-0 translate-middle-y me-2"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="phone">Teléfono</label>
                    <div class="position-relative">
                        <div class="input-group">
                            <span class="input-group-text" id="visible-addon">+56</span>
                            <input type="text" name="phone" class="form-control phone-input" id="phone" maxlength="9" required>
                        </div>
                        <span id="icon-phone" class="phone-icon position-absolute top-50 translate-middle-y pe-none"></span>
                    </div>
                </div>
           
                <div class="col-md-6 mb-2">
                    <label for="subject">Asunto</label>
                    <div class="position-relative">
                        <select class="form-select pe-5" id="subject" required>
                            <option selected disabled>Seleccione asunto</option>
                            <option value="1">Venta</option>
                            <option value="2">Post-venta</option>
                            <option value="3">Contacto</option>
                            <option value="4">Otro</option>
                        </select>
                        <span id="icon-subject" class="icon-inside-select icon-select position-absolute top-50 translate-middle-y pe-none"></span>                    
                    </div>
                </div>

                <div class="col-md-12 mb-2">
                    <label for="message">Mensaje</label>
                    <div class="position-relative">
                        <textarea class="form-control pe-5" id="message" style="height: 200px; resize: none;" placeholder="Escriba su mensaje aquí" required ></textarea>
                        <span id="icon-message" class="icon-inside-textarea position-absolute pe-none"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <button id="btn-submit" class="btn btn-sm btn-primary btn-ddvr py-2 px-4 mt-2 hola" type="submit" disabled>Enviar</button>            
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-7 my-2">
                <ul class="list-unstyled">
                <li class="d-flex align-items-center"><i class="bi bi-person-fill me-2"></i>Pía Díaz-Valdés</li>
                <li class="d-flex align-items-center"><a href="mailto: pdiazvaldes@ddvr.cl"><i class="bi bi-envelope-fill me-2"></i>pdiazvaldes@ddvr.cl<i class="bi bi-arrow-right-short"></i></a></li>
                <li class="d-flex align-items-center"><a href="tel: +56994353546"><i class="bi bi-telephone-fill me-2"></i>+56 9 94353546<i class="bi bi-arrow-right-short"></i></a></li>
                </ul>
            </div>
            <div class="col-5 my-2">
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center justify-content-end">
                        <a href="#">Whatsapp<i class="bi bi-whatsapp ms-2"></i></a>
                    </li>
                    <li class="d-flex align-items-center justify-content-end">
                        <a href="https://www.instagram.com/distribuidoradvr/" target="_blank">Instagram<i class="bi bi-instagram ms-2"></i></a> 
                    </li>
                    <li class="d-flex align-items-center justify-content-end">
                        <a href="https://cl.linkedin.com/company/distribuidora-dvr" target="_blank">Linkedin<i class="bi bi-linkedin ms-2"></i></a> 
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>