<footer  data-bs-theme="dark" class="bg-dark text-body-secondary pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="mb-3 d-flex justify-content-center justify-content-md-start text-light">RRSS</h6>                 
                <ul class="list-unstyled d-flex flex-column align-items-center align-items-md-start my-0">
                    <li class="mb-3">
                        <a href="https://w.app/ia9bfk" target="_blank" class="d-flex align-items-center lh-1"><i class="bi bi-whatsapp me-2 lh-1"></i></i>Whatsapp<i class="bi bi-box-arrow-up-right lh-1 ms-2"></i></a>                          
                    </li>
                    <li class="mb-3">
                        <a href="https://www.instagram.com/distribuidoradvr/" target="_blank" class="d-flex align-items-center lh-1"><i class="bi bi-instagram me-2 lh-1"></i>Instagram<i class="bi bi-box-arrow-up-right lh-1 ms-2"></i></a> 
                    </li>
                    <li class="mb-0">
                        <a href="https://cl.linkedin.com/company/distribuidora-dvr" target="_blank" class="d-flex align-items-center lh-1"><i class="bi bi-linkedin me-2 lh-1"></i>Linkedin<i class="bi bi-box-arrow-up-right lh-1 ms-2"></i></a> 
                    </li>
                </ul>
                <h6 class="mt-5 mb-3 d-flex justify-content-center justify-content-md-start text-light">Contacto</h6>
                    <ul class="list-unstyled d-flex flex-column align-items-center align-items-md-start mt-0 mb-5 my-md-0">
                    <li class="mb-3"><a href="mailto: ventas@ddvr.cl" class="d-flex align-items-center lh-1"><i class="bi bi-envelope-fill me-2"></i>ventas@ddvr.cl<i class="bi bi-arrow-right-short"></i></a></li>
                    <li class=" mb-0"><a href="tel: +56994353546" class="d-flex align-items-center lh-1"><i class="bi bi-telephone-fill me-2"></i>+56 9 94353546<i class="bi bi-arrow-right-short"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-md-center align-items-center align-items-md-end">
                <div id="qr-container" class="text-center ">
                   
                    <p id="copy-qr" class="d-flex flex-column justify-content-center align-items-center mb-2 bounce">
                        <span class="d-block">Click y<br>copia QR</span>
                        <i class="bi bi-arrow-down-short lh-1"></i>
                    </p>
                    <div id="qr-code" class="p-2 mb-2 bg-light d-inline-flex qr btn-ddvr" alt="QR DDVR" data-share=""></div>
                    
                    <a id="share-whatsapp" href="" target="_blank" class="d-block">
                        <p class="my-0">
                            <i class="bi bi-arrow-down-short mt-2 lh-1"></i>
                            <span class="d-block">o compartelo x<br>Whatsapp
                                <i class="bi bi-share-fill ms-2"></i>
                            </span>
                        </p>
                    </a>

                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5 mb-2">
                <small class="mt-3 mb-0">© 2025 DVR Distribuidora</small>
            </div>
        </div>
    </div>
</footer>