
<section class="hero text-center position-relative mb-3">
  
  <div class="row py-5 position-relative vw-100 max-vw-100" style="background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 75%);">
    <div class="col-lg-6 col-md-8 mx-auto my-5">
      <h1>DVR Distribuidora</h1>
      <p class=" px-3 px-md-0">
        Nuestro catálogo reúne una selección de productos químicos y soluciones industriales 
        diseñadas para limpieza, mantenimiento y protección de superficies. 
        Cada ficha incluye sus principales presentaciones y beneficios, 
        permitiendo identificar fácilmente la opción ideal para cada aplicación.
      </p>
      <p>
        <a href="#" id="btn-automotive-catalog" class="btn btn-primary btn-ddvr m-2 py-2 px-4 shadow">
          <span>Catálogo Automotriz</span>
        </a>
        <a href="#" id="btn-industrial-catalog" class="btn btn-secondary btn-ddvr m-2 py-2 px-4 shadow">
          <span>Catálogo Industrial</span>
        </a>
      </p>
    </div>
  </div>
</section>