<!-- Modal -->
<div class="modal fade" id="modal-product" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-producto-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-product-label">
                    Beneficios: <span></span>
                </h1>                                           
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="modal-img" class="card-img mb-3 pt-5"></div>
                <ul id="modal-product-beneficios"></ul>
                <div id="modal-pdf d-none"></div>
            </div>
            <div class="modal-footer bg-dark"></div>
        </div>  
    </div>
</div>