<p id="copy-qr" class="d-flex flex-column justify-content-center align-items-center mb-2 bounce">
    <span class="d-block">Click y<br>copia QR</span>
    <i class="bi bi-arrow-down-short lh-1"></i>
</p>
<div id="qr-code" class="p-2 mb-2 bg-light d-inline-flex qr btn-ddvr" alt="QR DDVR" data-share=""></div>

<a id="share-whatsapp" href="" target="_blank" class="d-block">
    <p class="my-0">
        <i class="bi bi-arrow-down-short mt-2 lh-1"></i>
        <span class="d-block">o compartelo x<br>Whatsapp
            <i class="bi bi-share-fill ms-2"></i>
        </span>
    </p>
</a>