/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
 @font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
} 

:root{
    --main-color: #ef7e09;
    --main-color-hover: #ff8302;
    --main-light-color: #fff;
    --card-text-color: #999;
    --secondary-light-color: #ccc;
    --terciary-light-color: #666;
    --dark-input-text-color: #000;
}

/* General styles */
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
    max-width: 100vw;
}
a {
    color: var(--main-color);
    font-size: .875rem;
    font-weight: 200;
    text-decoration: none;
}
p {
    font-weight: 200;
    font-size: .875rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
a:hover {
    color: var(--main-color-hover);
    text-decoration: none;
}
small{
    font-size: .75rem;
    font-weight: 200;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
footer p{
    font-size: .875rem;
}
.shadow{
    box-shadow: .25rem 1rem 1rem 0 rgba(0, 0, 0, .125) !important;
}
.list-unstyled li{
    margin-bottom: .5rem;
    font-weight: 200;
    font-size: .875rem;
}
.list-unstyled a{
    text-decoration: none;
}

/* Components & Buttons */
.btn-bd-primary, 
.btn-primary{
    background-color: var(--main-color);
    font-weight: 200;
    color: var(--bs-white);
    border-color:  var(--main-color);
    text-shadow: none!important;
}
.btn-primary i{
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1;
}
.btn-secondary{
    font-weight: 200;
    text-shadow: none!important;
}
.btn-close:focus{
    box-shadow: none;
}
.btn-bd-primary:hover, 
.btn-bd-primary:focus, .btn-bd-primary:active, 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active{
    background-color: var(--main-color);
    border-color:  var(--main-color);
    color: var(--bs-white)
}
.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.dropdown-item{
    font-size: .875rem;
    font-weight: 200;
}
.dropdown-item.active, 
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--main-color);
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.form-control{
    padding: .5rem .75rem;
}
input, 
textarea{
    font-size: .75rem !important;
    font-weight: 200 !important;
    color: var(--card-text-color) !important;
    background-color: transparent !important;
}
input:focus, 
textarea:focus, 
select:focus{
    border-color: rgba(238, 125, 13, .5)!important;
    box-shadow: 0 0 0 .25rem rgba(238, 125, 13, .375)!important;
}
input::placeholder, 
textarea::placeholder, 
select{
    font-weight: 200!important;
    font-size: .75rem!important;
    color: var(--terciary-light-color)!important;
}
select{
    padding: .5rem .75rem !important;
    background-position: right .5rem center;
    background-color: transparent !important;
}
input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    input.valid-fill,
    textarea.valid-fill, 
    select.valid-fill{
        -webkit-box-shadow: 0 0 0px 1000px rgb(48 58 75) inset !important;
        background-color: rgb(48 58 75) !important;
        -webkit-text-fill-color: var(--main-light-color) !important;
        font-weight: 200 !important;
    }
label{
    font-weight: 200!important;
    font-size: .875rem!important;
    margin-bottom: 4px;
    margin-left: 4px;
    color: var(--card-text-color)!important;
}
#visible-addon{
    font-weight: 200!important;
    font-size: .75rem!important;
    color: var(--card-text-color)!important;
    padding: .375rem;
    z-index: 3;
}
.text-success{
    color: rgb(0, 182, 0)!important;

}
.btn-ddvr{
    border:none;
    overflow: hidden!important;
    position: relative;
    transition: all 1s ease;
}
.btn-ddvr::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255,255,255,0.5)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.btn-ddvr:hover {
  transform: scale(1.05);
  box-shadow: 0 0 .625rem rgba(255,255,255,0.25);
}

.btn-ddvr:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(175%);
}
.btn-contact{
    color: var(--main-color);
}
.btn-menu{
    color: var(--card-text-color);
    font-size: 2rem;
}
#fixed-menu{

}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle, 
.abs-btn-contact, .to-top{
    width: 44px;
    height: 36px;
    position: relative;
}
.to-top {

}
.to-top:hover {
    border: 1px solid var(--main-color);
    color: var(--main-light-color);
    background-color: var(--main-color);
}
.to-top i{
    line-height: 1;
}
#fixed-menu{
    z-index: 100;
}
/* Header */
.about{
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
}
@media (max-width: 1360px){
    .about{
        height: fit-content;
        max-height: fit-content;
    }
}
.about h4{
    font-size: 1.375rem;
    margin-bottom: .75rem;
    color: var(--main-color);
}
.about h6{
    font-size: 1rem;
}
.about ul{
    font-size: .875rem;
    font-weight: 200;
    padding-left: 1rem;
}
.why-us ul{
    list-style: none;
}
.navbar-brand{
    background: url(../img/logo-dark.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 60px;
}
.navbar-toggler span{
    font-size: .875rem;
    font-weight: 200;
}
.navbar-toggler i{
    transition: all .5s;
}
.navbar-toggler.collapsed i:before{
    transform: rotate(180deg);
}

.qr img{
    width: 100px;
    height: 100px;
}
#qr-code{
    cursor: pointer;
}
.copied{
    color: var(--main-color);
}
#footer, footer, #qr-container, #copy-qr{
    transition: all .5s;
}
footer #qr-container{
    width: 116px;
}
.bounce{
    animation: bounce;
    animation-duration: 2s; 
    animation-iteration-count: 3;
    animation-delay: 2s;
}
.pulse{
    animation: shakeX;
    animation-duration: .5s; 
    animation-iteration-count: 1;
}

/* Hero */
.hero{
    background: url(../img/hero.webp);
    background-size: cover;
    background-position: center;
}
.hero .overlay{
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 350px;
    background: transparent;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.hero h1{
    text-shadow: 0px 0px 10px #000000;
    font-weight: 400;
    color: var(--main-light-color)
}
.hero p{
    text-shadow: 0px 0px 3px #000000;
    color: var(--secondary-light-color);
}
.hero .btn-secondary{
    background-color: rgb(43 48 54) !important;
    border-color: rgb(43 48 54) !important;
}

/* Catalog */
#filter-anchor{
     height: 69px;
    margin-top: -85px;
    width: 100%;
}
#catalog .col {
    display: flex;
}
#filter-section{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.filters-button-group .btn-dark{
    border: none;
    background-color: rgb(33, 37, 41);
    font-weight: 200;
}
.filters-button-group .btn-dark:hover{
    border: none;
    background-color: rgb(33, 37, 41);
    font-weight: 200;
}
.filters-button-group .btn.active {
    border: none;
    background-color: var(--main-color);
    color: var(--main-light-color);
}

/* Card */
#catalog .card {
    border:none;
    width: 100%;
}
#catalog .card-img {
    background: #e5ecfb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.25rem .75rem;
    text-align: center;
    height: 248px;
    overflow: hidden;
}
#catalog .card-img img{
    width: auto;
    max-height: 160px;
    mix-blend-mode: multiply;
}
#catalog .card-body {
    display: flex;
    flex-direction: column;
}
#catalog .card-main-info{
    height: 7rem;
}
#catalog .card h4{
    font-size: 1.25rem;
    color: var(--main-light-color);
}
#catalog .card-text{
    color: var(--card-text-color);
    font-size: .875rem;
}
#catalog .card-presentation {
    color: var(--secondary-light-color);
    font-size: .875rem;
    margin-bottom: 2rem;
}
#catalog .card-presentation strong{
    font-weight: 300;
    color: var(--main-light-color);
}
#catalog .card-body .share-container i{
    font-size: 1.125rem!important;
}
#catalog .card-body .share-btn, 
#catalog .card-body .rrss a{
    color: var(--secondary-light-color);
    font-weight: 200;
    text-decoration: none;
    border: none;
}
#catalog .card-body .share-btn:hover, 
#catalog .card-body .rrss a:hover{
    color:  var(--main-color);
}
#catalog .card-body .share-btn.active{
    color: var(--terciary-light-color);
}
#catalog .card-body .share-btn i{
    transition: all .5s;
}
#catalog .card-body .share-btn.active i{
    font-size: .875rem!important;
}
#catalog .card-body .rrss {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(5px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}
#catalog .card-body .rrss.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s;
}
#catalog .card-ddvr{
    border:none;
    overflow: hidden!important;
    position: relative;
    transition: all 1s ease;
}
#catalog .card-ddvr::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(255,255,255,0.5));
    transform: rotate(-45deg);
    transition: all 1s ease;
    opacity: 0;
}

#catalog .card-ddvr:hover {
    transform: scale(1.025);
    box-shadow: 0 0 .625rem rgba(255,255,255,0.25)!important;
}

#catalog .card-ddvr .btn-ddvr:hover {
    transform: scale(1.05);
    box-shadow: none!important;
}
#catalog .card-ddvr:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(275%);
}

/* Contact Form */
#contactForm{
    border: none;
    /* position: relative;
    z-index: 1001; */
}
#contactForm .offcanvas-body, 
#contactForm .offcanvas-body a{
    color: var(--card-text-color);
}
#contactForm .offcanvas-body a:hover{
    color: var(--main-color);
}
#contactForm .offcanvas-body #mail.form-control{
    padding-right: 1.75rem;
}
#contactForm .offcanvas-body .icon-inside-select {
    right: .75rem;
}
#contactForm .offcanvas-body .icon-select {
    right: .5rem;
}
#contactForm .offcanvas-body .icon-inside-textarea {
    top: .25rem;
    right: .5rem;
}
#contactForm#contactForm .offcanvas-body .phone-icon {
    right: 0.5rem;
    z-index: 5;
}
#contactForm .offcanvas-body .phone-input {
    padding-right: 2.5rem !important;
}
#contactForm .offcanvas-body #btn-submit:disabled{
    text-decoration: line-through;
    background-color: rgba(239, 126, 9, .625);
}

/* Modal Producto */

#modal-product .modal-content{
    border: none;
    color: #dee2e6 !important;
}
#modal-product ul{
    padding-left: 1rem;
}
#modal-product #modal-img {
    background: #e5ecfb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.25rem .75rem;
    text-align: center;
    height: 248px;
    overflow: hidden;
}
#modal-product #modal-img img{
    width: auto;
    max-height: 160px;
    mix-blend-mode: multiply;
}
.modal-body h4{
    font-size: 1.25rem;
}
.modal-body li{
    font-weight: 200;
    font-size: .875rem;
    color: var(--card-text-color);
}
.modal-body{
    background-color: #212529;
    padding-top: 0;
    padding-bottom: 0;
}
.modal-header{
    background-color: rgb(33, 37, 41);
    border: none;
}
.modal-header h1{
    font-weight: 300;
}
.modal-header span{
    color: var(--card-text-color);
}
.modal-body a i{
    font-size: 1.25rem;
}
.modal-body a:hover{
    color: var(--card-text-color);
}
.modal-footer{
    border: none;
}

/* Footer */
footer a{
    color: var(--bs-secondary-color);
}
/* Light Mode */
[data-bs-theme="light"] {
    .bg-body-tertiary{
        background-color: rgb(209 217 224) !important;
    }
    .about{
        color: var(--terciary-light-color) !important;
    }
    .text-body-secondary{
        color: var(--terciary-light-color) !important;
    }
    .hero .btn-secondary{
        background-color: rgb(209 217 224) !important;
        border-color: rgb(209 217 224) !important;
        color: var(--terciary-light-color) !important;
    }
    .offcanvas{
        background-color: rgb(209 217 224) !important;
    }
    .offcanvas-body, 
    .offcanvas-body a, 
    label{
        color: var(--terciary-light-color)!important;
    }
    .offcanvas-body a:hover{
        color: var(--main-color)!important;
    }
    #visible-addon{
        background-color: rgb(200 208 215) !important;
        border-color: rgb(160 169 177);
        color: var(--terciary-light-color)!important;
    }
    input, 
    textarea, 
    select{
        background-color: transparent !important;
        border-color: rgb(160 169 177);
        color: var(--terciary-light-color)!important;
    }
    input::placeholder, 
    textarea::placeholder, 
    select{
        color: var(--card-text-color)!important;
        background-color: rgb(209 217 224) !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    input.valid-fill,
    textarea.valid-fill, 
    select.valid-fill{
        -webkit-box-shadow: 0 0 0px 1000px rgb(228 235 252) inset !important;
        background-color: rgb(228 235 252) !important;
        -webkit-text-fill-color: var(--dark-input-text-color) !important;
        font-weight: 200 !important;
    }
    .shadow{
        box-shadow: .25rem 1rem 1rem 0 rgba(0, 0, 0, .125) !important;
    }
    .card-ddvr:hover {
        box-shadow: .25rem 1rem 1rem 0 rgba(0, 0, 0, .375) !important;
    }
    footer.text-body-secondary{
        color: #dee2e6bf !important;;
    }
}


