.navbar-brand{
    background-image: url(../../assets/img/logo-dark.webp);
}

.messages{
    margin-bottom:1rem;
}

.msg{
    background:#e5f3ff;
    border-left:4px solid #2563eb;
    padding:0.4rem 0.7rem;
    border-radius:6px;
    font-size:0.85rem;
    margin-bottom:0.25rem;
}
.actions span.px-4{
    color: var(--terciary-light-color);
}
.btn-pass{
    color: var(--card-text-color);
    font-weight: 200;
    font-size: .875rem;
}
.btn-pass:hover{
    color: var(--main-color);
}
.btn-pass i{
    transform: scaleX(-1);
}
.field{
    margin:0.75rem 0;
}
.card h4{
    font-size: 1.25rem;
    color: var(--main-light-color);
}
p{
    color: var(--secondary-light-color);
}
code{
    color: var(--main-color);
}
h1{
    color: var(--terciary-light-color);
}
.btn{
    font-size: .875rem !important;
}
small{
    color: var(--card-text-color) !important;
}
.text-danger {
    color: #ff5252 !important;
}
.text-valid {
    color: #00FF00 !important;
}
