.navbar-brand{
    background-image: url(../../assets/img/logo-dark.webp);
}

.messages{
    margin-bottom:1rem;
}

.msg{
    background:#e5f3ff;
    border-left:4px solid #2563eb;
    padding:0.4rem 0.7rem;
    border-radius:6px;
    font-size:0.85rem;
    margin-bottom:0.25rem;
}

.field{
    margin:0.75rem 0;
}
.card h4{
    font-size: 1.25rem;
    color: var(--main-light-color);
}
p{
    color: var(--secondary-light-color);
}
code{
    color: var(--main-color);
}
h1{
    color: var(--secondary-light-color);
}
.btn{
    font-size: .875rem !important;
}